:root {
    --primary: #1e90ff;
    --primary-dark: #1e9099;
    --secondary: #1e90ff;

    --background-primary: #ddd;
    --background-secondary: #66b;
    --background-secondary-dark: #77e;

    --text-primary: #000;
    --text-link: #44a;
    --text-link-hover: #bbf;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--text-primary);
    font-weight: 400;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    margin: 10px 0;
}

h2 {
    font-size: 1.3rem;
    margin: 10px 0;
}

h3 {
    font-size: 1rem;
    margin: 10px 0;
}

a:link,
a:visited {
    color: var(--text-link);
}

a:hover,
a:active {
    color: var(--text-link-hover);
}

/* Main container */
main {
    display: flex;
    flex: 1;
}

/* Main information - name, contact, skills */
main>header {
    flex: 1;
    background-color: var(--background-secondary);
    padding: 0 10px;
    max-width: 250px;
}

main>header>section {
    margin: 20px 0;
}

main>header h2 {
    background-color: var(--background-secondary-dark);
    padding: 10px 10px;
    margin: 0 -10px;
}

/* Detailed information - education, experience */
main>aside {
    flex: 2;
    padding: 0 20px;
}

main>aside>section {
    border-bottom: 1px solid #aaa;
}

/* Footer */
footer {
    padding: 20px;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary-dark);
}

/* .profile-photo {
    border-radius: 50%;
    width: 100%;
} */

.skill-item-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
}

.education-item-container {
    display: flex;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    main {
        flex-direction: column;
    }

    main>header {
        max-width: none;
    }

    picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-photo {
        max-width: 300px;
    }

    header {
        text-align: center;
    }

    .skill-item-container {
        justify-content: space-around;
    }
}